body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
}

.header {
  background-color: white;
  height: 30px;
  border-bottom: 2px solid #80808026;
  display: flex;
  align-items: center;
  padding: 16px;
}

.menu-icon {
display: none;
}

.menu-icon:hover {
  background-color: #80808026;
  border-radius: 20%;
}

.logo {
  display: flex;
  height: 36px;
  padding-left: 16px;
  cursor: pointer;
}

.notizen-header {
  padding-left: 16px;
  color:#808080 ;
  font-variant: small-caps;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.logo:active {
  text-decoration: underline;
  color: #808080;
}

.header-input {
  background-color: #80808024;
  width: 600px;
  height: 46px;
  border: none;
}

.header-input:focus {
  outline: none;
}

.lupe {
  height: 25px;
  width: 25px;
  padding: 5px;
  opacity: 0.6;
}

.lupe-button {
  background-color: #80808024;
  border: none;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lupe:hover {
  background-color: #80808026;
  border-radius: 20%;
}

.lupe-div {
  display: flex;
}

.input-delete {
  background-color: #80808024;
  font-size: 20px;
  color: #808080;
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.x {
  padding: 5px;
  color: #80808091;
}

.x:hover {
  background-color: #80808026;
  border-radius: 20%;
}

.header-option {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 10px;

  img {
    width: 25px;
    cursor: pointer;
    padding: 7px;
  }

  img:hover {
    background-color: #80808026;
    border-radius: 20%;
  } 
}

nav {
  width: 16vw;
  font-size: 14px;
  font-weight: 500;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

nav img {
  width: 24px;
  opacity: 0,8;
}

nav section {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 180px;
  height: 50px;
  padding-left: 23px;
}

a {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  width: 240px;
  height: 50px;
  text-decoration: none;
  color: black;
}

nav section:hover {
  background-color: #80808024;
  border-radius: 0 30px 30px 0;
}

.bg {
  display: flex;
  flex-wrap: wrap;
  align-items:start;
  justify-content: center;
}

.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.084);

  img {
    margin-top: 50px;
    height: 50px;
    width: 50px;
    opacity: 0.1;
  }
}

.notizen {
  display: flex;
  align-items: flex-start;
}

.notizen-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 78vw;
}

.input-container {
height: 115px;
width: 474px;
z-index: 998;
background: white;
display: flex;
flex-direction: column;
padding: 10px;
box-shadow: rgba(128, 128, 128, 0.238) 2px 2px 4px 2px;
border-radius: 10px;

input {
  border: none;
  width: 470px;
  height: 36px;
  font-family: 'Roboto', sans-serif
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  border: none;
  width: 470px;
  height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

img {
  height: 18px;
  width: 18px;
  transform: rotate(-45deg);
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
}

img:hover {
  background-color: #80808024;
  border-radius: 50%;
}
}

.notizen-titel {
font-weight: bold;
}

.titel {
  display: flex;
  align-items: center;
}

.notiz {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
}

.posts {
  margin: 15px;
  padding: 10px;
  background-color: #edbf36ba;
  border-radius: 10px;
  max-width: 200px;
  min-width: 200px;
  min-height: 120px;
  z-index: 998;
  word-wrap: break-word;
}

p {
  white-space: pre-wrap;
}

.posts:hover {
  box-shadow: rgba(128, 128, 128, 0.238) 1px 1px 2px 1px;
  transition: box-shadow 0.3s ease-in-out;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

form button {
  border: none;
  background: none;
}

.ready-container {
  display: flex;
  justify-content: center;
  height: 40px;
}

.close {
  width: 90px;
  background-color: white;
  padding: 5px;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

.close:hover {
  background-color: #80808026;
  border-radius: 5px;
}

.input-con {  
display: flex;
justify-content: center;
}

.d-none {
  display: none;
}

.note-img {
  display: flex;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
    padding: 5px;
    visibility: collapse;
  }
}

.note-img:hover {
  background-color: #80808028;
  border-radius: 8px;
  cursor: pointer;

  img {
    visibility: visible;
  } 
}

.note-img-delete {
  display: flex;
  justify-content: center;
  width: 50%;

  img {
    width: 20px;
    height: 20px;
    padding: 5px;
    visibility: collapse;
  }
}

.note-img-delete:hover {
  background-color: #80808028;
  border: 0, 0, 8px, 8px;
  cursor: pointer;

  img {
    visibility: visible;
  }
}

.note-img-restore {
  display: flex;
  justify-content: center;
  width: 50%;

  img {
    width: 20px;
    height: 20px;
    padding: 5px;
    visibility: collapse;
  }
}

.note-img-restore:hover {
  background-color: #80808028;
  border: 8px, 8px, 0, 0;
  cursor: pointer;
  
  img {
    visibility: visible;
  }
}

.delete-container {
  display: flex;
  justify-content: space-around;
}

.delete-container:hover {
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.delete2 {
  display: flex;
  justify-content: center;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin-top: 8px;
  visibility: hidden;
}

:hover + .tooltip {
  visibility: visible;
}

.delete1 {
  width: 84vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width:1180px) {
  .header-option {
    display: none;
  }
}

@media (max-width:1050px) {
  .note-img {
    img {
      visibility: visible;
    }
  }

  .note-img-delete {
    img {
      visibility: visible;
    }
  }

  .note-img-restore {
    img {
      visibility: visible;
    }
  }
}

@media (max-width:950px) {
  .header-input {
    width: 400px;
  }
}

@media (max-width:750px) {
  .header-input {
    width: 200px;
  }
}

@media (max-width:550px) {
  .header-input {
    width: 100px;
  }
}

@media (max-width:450px) {
  .lupe-div {
    display: none;
  }
}

@media (max-width:800px) {
  .menu-icon {
    display: flex;
    height: 18px;
    width: 18px;
    padding: 9px;
    cursor: pointer;
    justify-content: center;
  }

  .notizen {
    align-items: center;
    flex-direction: column;
  }

  .burger-menu {
    background-color: white;
    position: absolute;
    z-index: 999;
    padding-left: 0px ;
    width: 99vw;
    border-right: 2px solid #80808026;
    border-bottom: 2px solid #80808026;
    transform: translatex(-801px);
    transition: all 225ms ease-in-out;
  }
}

@media (max-width:500px) {
  .input-container {
  width: 300px;
  }
}

@media (max-width:350px) {
  .input-container {
  width: 200px;
  }
}

.show-overlay-menu {
  transform: translatex(0);
}

.x-button {
  display: none;
}

.x-aktive {
  opacity: 0.5;
  display: block;
}

.delete {
  display: flex;
  justify-content: center;
  opacity: 0.6;
}
